<div class="header">
  <h3>Welcome to:</h3>
  <h1 class="logo">Pixtr</h1>
<div>

  <%= form_for :session, url: session_path do |form| %>
    <div class="sign-up">
      <%= form.label :email %>
      <%= form.email_field :email %>

      <%= form.label :password %>
      <%= form.password_field :password %>

      <%= form.submit "Sign in" %>
    </div>
  <% end %>
