<h1>Pixtr says hi </h1>

<a href="/galleries/new">Make a new gallery</a>

<ul>
  <% @galleries.each do |gallery| %>
    <li>
    <%= link_to gallery.name, gallery %>
   
    <%= link_to "Edit", edit_gallery_path(gallery) %>

    <%= gallery.description %></li>

    <%= form_for gallery, method: :delete do |form| %>
      <%= form.submit "Delete" %>
    <% end %>
  <% end %>
</ul>
