<%= link_to "Edit", edit_gallery_image_path(@gallery, @image) %>

<%= image_tag @image.url %>

<div>
  <p>This image has <%= @image.likes.count %> likes</p>

<%= render "like_button", image: @image %>

<%= form_for [@image, @comment] do |form| %>

<%= render "error_messages", target: @comment %>
  <%= form.label :body, "Comment" %>
  <%= form.text_area :body %>
  <%= form.submit %>
<% end %>

<ul>
  <% @comments.each do |comment_from_each| %>
    <%= render "comments/comment", comment: comment_from_each %>
  <% end %>
</ul>

<%= button_to "Delete Image", gallery_image_path, method: :delete %>
