<%= link_to "Edit", edit_gallery_image_path(@gallery, @image) %>

<%= image_tag @image.url %>

<%= button_to "Delete Image", gallery_image_path, method: :delete %>

<div>
  <%= render "group_check_boxes", image: @image %>
</div>

<div>
  <%= render "like_stats", image: @image, liker: @liker %>
  <%= render "like_button", image: @image %>
</div>

<%= form_for [@image, @comment] do |form| %>
<%= render "error_messages", target: @comment %>
  <%= form.label :body, "Comment" %>
  <%= form.text_area :body %>
  <%= form.submit %>
<% end %>

<ul>
  <% @comments.each do |comment_from_each| %>
    <%= render "comments/comment", comment: comment_from_each %>
  <% end %>
</ul>
